Ali Paikan <ali.paikan@iit.it> <ali.paikan@gmail.com>
Claudio Fantacci <claudio.fantacci@iit.it> <claudio.fantacci@gmail.com>
Francesco Romano <francesco.romano@iit.it> <francesco.romano.1987@gmail.com>
Lorenzo Natale <lorenzo.natale@iit.it> <lornat75@gmail.com>
Nicolò Genesio <nicolo.genesio@iit.it>
Silvio Traversaro <silvio.traversaro@iit.it> <pegua1@gmail.com>
RTF Developers <rtf-devel@robotology.org> <icub@iiticubws027.icub.local>
